@media screen and (min-width: 1200px) {
  .container,
  .container-tablet {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*============================HEADER===========*/
  .list-address {
    display: flex;
    gap: 40px;
  }

  .list-nav {
    margin-left: 76px;
  }

  .link-active {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-underline::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: -6px;
    position: absolute;
    background: #404bbf;
    border-radius: 2px;
  }
  /*============================MAIN SECTION===========*/
  .main-section {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/peopleoffice.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/peopleoffice-decktop2x.jpg');
    }
  }

  .main-title {
    margin-bottom: 48px;
  }
  /*============================ADVANTAGE===========*/
  .advantage-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section-icon-advantage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #f4f4fd;
    border-radius: 4px;
  }

  .advantage-container > .advantage-list {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
    width: 264px;
  }

  .advantage-subtitle {
    font-weight: 500;
    font-size: 20px;

    margin-top: 8px;
  }

  .advantage-icon {
    display: flex;
    align-items: center;
  }
  /*============================OUR COMMAND===========*/
  .our-command {
    flex-wrap: nowrap;
    align-items: center;
    gap: 24px;
  }

  .command-section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .command-text > .advantage-subtitle {
    margin-top: 0;
  }
  /*============================CUSTOMERS===========*/
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .customers-list {
    justify-content: space-between;
  }

  .section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  /*============================FOOTER===========*/

  .footer-content {
    margin-top: 16px;
    width: 264px;
  }

  .footer-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-soc-container {
    display: flex;
    align-items: start;
  }

  .footer-soc-section {
    margin-left: 120px;
  }

  .footer-subscribe {
    margin-left: 80px;
    margin-top: 0;
  }
  .footer-suptitle {
    margin-top: 0;
  }
  .footer-container > .container-tablet {
    display: flex;
  }
  /*============================GALLERY-PORTFOLIO===========*/
  .gallery-list {
    width: calc((100% - 72px) / 3);
    margin-bottom: 0;
  }

  .navigation-section-btn {
    padding-top: 96px;
    padding-bottom: 72px;
  }

  .gallery-container {
    row-gap: 48px;
  }
}
