@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .our-command {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .command-description {
    width: calc((100% - 30px) / 2);
  }

  .command-section {
    padding-bottom: 104px;
  }
}
